.header {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    border: 2px solid black;
}
.logo {
   width: 200px;
}
.logo >img{
    width: 100%;
}
.rightNav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}
.rightNav >li {
    list-style-type: none;
    padding: 0px 10px;
    border: 1px solid gray;
    background-color: aliceblue;
}
.rightNav >li:hover{
    scale: 1.1;
}

.footer {
    display: flex;
    width: 97vw;
    justify-content: right;
    padding: 2px;
    border: 2px solid black;
    position: relative;
    bottom: 0px;
}
.card{
       width: 200px;
       border: 1px solid black;
       padding: 10px;
       margin: 10px;
    }

    .card > img {
       width: 100%;
    }

    .restaurant-list {
       display: flex;
       flex-wrap: wrap;
     }